
@{
    ViewBag.Title = "SuccessRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Благодарим Вас за регистрацию на нашем сайте! Теперь Вы можете авторизоваться на сайте, используя Ваш логин и пароль.</h2>

